// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

// Variables
@import 'variables';
@import 'colors';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'categories';
@import 'products';
@import 'product';
@import 'cart';
@import 'aboutus';
@import 'mobile-start';

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    height: 100%;
    overflow-x:hidden;
}

body {
    height: 100%;
    overflow-x: hidden;
}

.content__wrapper {
    display: flex;
    /*height: 100%;*/
}

.main__content {
    width: 100%;
}

.main__body {
    padding: 40px 85px 30px 85px;
}

.header {
    width: 100%;
    min-height: 80px;
    background-color: $corn;
    padding: 10px;
    .mobile-logo {
        border-radius: 50%;
        display: none;
    }
}

.cart {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    line-height: 80px;
    position: relative;;
    .cart__text {
        font-weight: 700;
        font-size: 17px;
        padding-right: 10px;
        color: $armadillo;
    }
    .cart__img {
        display: block;
    }
    .cart_value {
        position: absolute;
        width: 28px;
        height: 28px;
        background-color: $tango;
        color: #fff;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        border-radius: 50%;
        right: -18px;
        padding: 5px;
        display: none;
    }
}

.sidebar {
    width: 280px;
    min-height: 100vh;
    background-color: $corn;
    box-shadow: 3px 0 12px;
    position: sticky;
    padding: 0 15px 30px;
    .sidebar__header__desctop {
        display: block;
    }
    .sidebar__header__mobile {
         display: none;
     }
    .main__logo {
        margin-top: 45px;
        img {
            display: block;
            margin: 0 auto;
            border-radius: 50%;
        }
    }
    .sidebar__categories {
        display: flex;
        flex-direction: column;
        margin-top: 36px;
        .sidebar__category__link {
            height: 50px;
            line-height: 50px;
            padding-left: 20px;
            border-radius: 20px;
            text-decoration: none;
            font-weight: 700;
            font-size: 17px;
            background-color: $corn;
            color: $armadillo;
            margin: 2px;
            word-break: break-all;
        }
        .sidebar__category__link:hover {
            color: $corn;
            background-color: $armadillo;
            transition: 0.7s;
        }

    }
}

.active {
    color: $corn !important;
    background-color: $armadillo !important;
    border-radius: 18px;
}

.sidebar__name {
    margin-top: 80px;
    padding-left: 20px;
    h2 {
        font-weight: 700;
        font-size: 24px;
        color: $armadillo;
    }
    h3 {
        font-weight: 400;
        font-size: 16px;
        color: $armadillo;
    }
}

.sidebar__aboutus {
    display: block;
    border-top: 2px solid #FFD83F;
    border-bottom: 2px solid #FFD83F;
    height: 55px;
    line-height: 55px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 17px;
    text-decoration: none;
    color: $armadillo;
}
.sidebar__aboutus:hover {
    color: $corn;
    background-color: $armadillo;
    transition: 0.7s;
    border-radius: 18px;
}

.sidebar__contacts {
    margin-top: 18px;
    padding: 0 20px;
    .sidebar__adress {
        font-weight: 400;
        font-size: 14px;
        color: $armadillo;
    }
    .sidebar__phone {
        display: block;
        text-decoration: none;
        font-weight: 400;
        font-size: 15px;
        color: $armadillo;
        margin-top: 30px;
    }
}

.spinner-bg {
    background-color: #000000;
    opacity: .7;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    .spinner-grow {
        height: 100px;
        width: 100px;
        color: $corn;
    }
}

.swal2-container {
    z-index: 20000 !important;
}

.burger-btn {
    overflow: visible;
    cursor: pointer;
    fill: #1e272e;
    margin-left: 43px;
    display: none;
    &--1,
    &--2,
    &--3 {
        transition: .2s;
        transform-origin: center center;
    }

    &.active {
        background-color: transparent !important;
        .burger-btn--1 {
            transform: translate(-9px, 13px) rotate(45deg);
        }
        .burger-btn--2 {
            transform: translateX(20px);
            opacity: 0;
        }
        .burger-btn--3 {
            transform: translate(-7px, -10px) rotate(-45deg);
        }
    }
}
@media only screen and (max-width: $xxl){
    .main__body {
        padding: 20px 25px 30px 25px;
    }

}

@media only screen and (max-width: $xl) {
    .main__body {
        padding: 20px 25px 30px 25px;
    }
}

@media only screen and (max-width: $lg) {
    .main__body {
        padding: 25px 20px;
    }
}

@media only screen and (max-width: $md) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: end;
        .mobile-logo {
            display: block;
        }
    }
    .burger-btn {
        display: block;
    }
    .double-burger-btn {
        margin-left: auto;
        padding-top: 43px;
    }
    .main__body {
        padding: 30px 15px 30px 15px;
    }
    .cart {
        .cart__text {
            display: none;
        }
        .cart_value {
            display: block;
        }
    }

    .sidebar {
        position: fixed;
        overflow-x: auto;
        z-index: 1050;
        top: 0;
        left: 0;
        clip-path: circle(0px at 0 0px);
        transition: 0.6s ease all;
        height: 100vh;
        width: auto;
        .sidebar__header__desctop {
            display: none;
        }
        .sidebar__header__mobile {
            display: block;
            .sidebar__mobile__img {
                position: absolute;
                top: -70px;
                left: -60px;
                max-width: 310px;
                width: 100%;
                border-radius: 50%;
                z-index: -1;
            }
            .sidebar__mobile__logo {
                margin: 0 25px 0 145px;
            }
        }
        &.sidebar-open{
            display: flex;
            flex-direction: column;
            clip-path: circle(100%);
            transition: 1s ease all;
        }
    }


}



