.categories {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-row-gap: 45px;
    justify-content: center;
    grid-column-gap: 50px;
}

.category__card {
    width: 600px;
    .category__name {
        font-weight: 700;
        font-size: 21px;
        color: $armadillo;
    }
    .category__img {
        display: block;
        border-radius: 20px;
        height: 210px;
        width: 100%;
    }
}

@media only screen and (max-width: $xxxl) {
    .category__card {
        width: 500px;
    }

    .categories {
        grid-template-columns: 500px 500px;
    }

}

@media only screen and (max-width: $xxl) {
    .category__card {
        width: 450px;
    }

    .categories {
        grid-template-columns: 450px 450px;
        grid-column-gap: 35px;
    }
}

@media only screen and (max-width: $xl) {
    .category__card {
        width: 340px;
    }

    .categories {
        grid-template-columns: 340px 340px;
        grid-column-gap: 25px;
        grid-row-gap: 30px;
    }
}

@media only screen and (max-width: $lg) {

    .categories {
        grid-template-columns: 80%;
        .category__card {
            width: 100%;
            .category__name {
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: $md) {
    .categories {
        grid-template-columns: 250px 250px;
        grid-column-gap: 16px;
        .category__card {
            width: 250px;
        }
    }
}
