.categories {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 712px 712px;
    grid-row-gap: 45px;
    grid-column-gap: 55px;
    justify-content: center;
}

.category__card {
    .category__name {
        font-weight: 700;
        font-size: 21px;
        color: $armadillo;
    }
    .category__img {
        display: block;
        border-radius: 20px;

    }
}
